.accounts-search-item {
  text-align: left;
  color: #220b73;
  background : #0ceecd;
}

.div-inlign{
  display:inline;
}

.div-inlign-float-right {
  display:inline;
  float:right;
}
.toolbar ion-searchbar {
  padding: 20px;
  padding-left: 1px;
}

.transparent-searchbox {
  //opacity: 0;
  //border-bottom-color:  #ffffff;
   //background : #ffffff;
}